/**
 * phi@smoch.ch
 * 2019-05-26
 */

.zitat { /* Z. B. Wikipedia*/
	font-style   : oblique   ;
	font-size    :        90%;
	margin-left  :        3px;
	margin-right :        3px;
	padding      :        1px;
	border-style : solid     ;
	border-color : #ccc8;
	border-size  :        1px;
}

.zitat > p, .zitat > div {
	margin-left  : 3em;
	margin-right : 3em;
	padding      : 1em;
}

.zitat.text::after {
	content: '»';
}
.zitat.text::before {
	content: '«';
}

.zitat.quelle {
	margin-top      : 0px        ;
	padding-top     : 0px        ;
	background-color: transparent;
	font-weight     : bold       ;
	border          : none       ;
}

/** 
 *  Tabellen innerhalb der Artikel. "class = 'tabelle'".
 */
.tabelle, .tabelle tr:first-child td {
	font-weight     : bold ;
	padding-left    : 3px  ;
	padding-right   : 2px  ;
	color           : #300 ;
	background-color: #cce ;
}

.tabelle tr:nth-child(odd) {
	background-color: #eef;
}

.tabelle tr:nth-child(even) {
	background-color: #ddf;
}

/* ******************** TOUR **************************** */
/* S. tour_layout.php */
.mainTour {
	padding: 3px;
	margin: 1px;
}

/* s. navigation.php */
div.tourHeader {
	border          : var(--default-foreground) 1px solid;
	padding         : 4px          ;
	border-radius   : 4px          ;
	background-color: var(--default-foreground);
	color           : white        ;
}

.tourHeader ul {
  list-style-type : none  ;
  margin          : 0     ;
  padding         : 0     ;
  overflow        : hidden;
  background-color: var(--default-foreground);
}

.tourHeader ul li {
  float: left;
	text-align:center;
 	width: 33%;
}

.tourHeader li a, .tourHeader li span {
  display         : block;
  color           : white;
  text-align      : center;
  padding         : 14px 16px;
  text-decoration : none;
	text-decoration : none      ;
	font-variant    : small-caps;
	font-weight     : bold      ;
  background-color: var(--default-foreground);
	color           : var(--default-background);

}

/* Change the link color to #111 (black) on hover */
.tourHeader li a:hover {
  background-color: var(--default-foreground);
	color           : var(--default-background);
}

div.forfor a img , div.backback a img {
	width : 50px;
	height: 50px;
}

div.backback {
	text-align: left;
}

/* A link which is disabled, because
 * the user is already on thay page
 */
.tourHeader ul li span.unLink {
	color           : var(--default-textcolor );
	background-color: var(--default-foreground);
	font-size: 155%;
	border-radius: 6px;
	border-color: white;
	border-style: solid;
	border-width: 5px;
  padding-top: 2px;
	margin-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 2px;
}


@media screen and (max-width: 510px) {
	.tourHeader ul li {
		clear: both;
		width: 100%;
	}
	div.forfor {
		position: absolute;
		right: 5px;
	}
}


