/**
 * phi@smoch.ch
 * 2019-05-26
 */


.zitat { /* Z. B. Wikipedia*/
	font-style   : oblique   ;
	font-size    :        90%;
	margin-left  :        3px;
	margin-right :        3px;
	padding      :        1px;
	border-style : solid     ;
	border-color :    #eaeaee;
	border-size  :        1px;
	background-color: #fafaff;
}

.zitat > p, .zitat > div {
	margin-left  :        3em;
	margin-right :        3em;
	padding      :        1em;
}

.zitat.text::after {
	content: '»';
}
.zitat.text::before {
	content: '«';
}

.zitat.quelle {
	margin-top      : 0px        ;
	padding-top     : 0px        ;
	background-color: transparent;
	font-weight     : bold       ;
	border          : none       ;
}



/** 
 *  Tabellen innerhalb der Artikel. "class = 'tabelle'".
 */
.tabelle tr:first-child td {
	font-weight     : bold;
	background-color: #eef;
}

.tabelle tr:nth-child(odd) {
	background-color: #ccf;
}

.tabelle tr:nth-child(even) {
	background-color: #aad;
}
