/**
 * phi@smoch.ch
 * 2019-05-26
 */

.zitat { /* Z. B. Wikipedia*/
	font-style   : oblique   ;
	font-size    :        90%;
	margin-left  :        3px;
	margin-right :        3px;
	padding      :        1px;
	border-style : solid     ;
	border-color : #ccc8;
	border-size  :        1px;
}

.zitat > p, .zitat > div {
	margin-left  : 3em;
	margin-right : 3em;
	padding      : 1em;
}

.zitat.text::after {
	content: '»';
}
.zitat.text::before {
	content: '«';
}

.zitat.quelle {
	margin-top      : 0px        ;
	padding-top     : 0px        ;
	background-color: transparent;
	font-weight     : bold       ;
	border          : none       ;
}

/** 
 *  Tabellen innerhalb der Artikel. "class = 'tabelle'".
 */
.tabelle, .tabelle tr:first-child td {
	font-weight     : bold ;
	padding-left    : 3px  ;
	padding-right   : 2px  ;
	color           : #300 ;
	background-color: #cce ;
}

.tabelle tr:nth-child(odd) {
	background-color: #eef;
}

.tabelle tr:nth-child(even) {
	background-color: #ddf;
}


div.tourHeader {
	border          : var(--default-foreground) 1px solid;
	padding         : 4px          ;
	border-radius   : 4px          ;
	background-color: #f00;
	color           : white        ;
}

.tourHeader ul {
  list-style-type : none  ;
  margin          : 0     ;
  padding         : 0     ;
  overflow        : hidden;
  background-color: #F00  ;
}

.tourHeader li {
  float: left;
}

.tourHeader li a {
  display         : block;
  color           : white;
  text-align      : center;
  padding         : 14px 16px;
  text-decoration : none;
	text-decoration : none      ;
	color           : var(--default-foreground)       ;
	font-variant    : small-caps;
	font-weight     : bold      ;
  background-color: #f00;
	color           : var(--default-background);

}

/* Change the link color to #111 (black) on hover */
.tourHeader li a:hover {
  background-color: var(--default-foreground);
	color: var(--default-background);

	/* color           : white;
	background-color: var(--default-foreground)  ; */
}


/* A link which is disabled, because
 * the user is already on thay page
 */
.tourHeader > .unLink {
	color           : #fff       ;
	background-color: #f0f      ;
/*	font-style: italic;
	font-weight     : extra-bold;
	font-size       :  164%     ;
	border-radius: 4px;*/
}
