/**
 * phi@smoch.ch
 * 2019-05-23
 */

body {
	font-family: verdana, arial, sans;
}

#mainHeader, #mainFooter, #introSeite {
	padding         :    6px;
	background-color: #fff  ;
	color           : red   ;
	font-weight     : bold  ;
	font-size       : 180%  ;
	text-align      : center;
}

#mainHeader {
	display         : flex         ;
	flex-direction  : row          ;
	flex-wrap       : nowrap       ;
	justify-content : space-between;
}


#introSeite {
	font-size: 100%;
}

.mainTour {
	color: green;
	background-color: #efe;
	border-style: solid;
	border-color: blue;
	border-size: 2px;
	padding: 3px;
}

.tourHeader {
	color           : red          ;
	background-color: #fff         ;
	display         : flex         ;
	flex-direction  : row          ;
	flex-wrap       : nowrap       ;
	justify-content : space-between;
	border          : red 1px solid;
	padding         : 4px          ;
	border-radius   : 4px          ;
}

.tourHeader > a {
	text-decoration: none      ;
	color          : red       ;
	font-variant   : small-caps;
	font-weight    : bold      ;
}

.tourHeader > a:hover {
	color           : white;
	background-color: red  ;
}

.erfindung {
	color: #f80;
	background-color: #fed;
}

.erfindung h1 {
	font-style: italic;
	font-size : 112%  ;
	color     : black ;
}

.erfindungHeader {
	display         : flex         ; /* establish flex container */
	flex-direction  : row          ; /* default value; can be omitted */
	flex-wrap       : nowrap       ; /* default value; can be omitted */
	justify-content : space-between; /* switched from default (flex-start, see below) */
	background-color: lightyellow  ;

	color           : #240         ;
	background-color: #efd         ;
	text-align      : center       ;
	font-size       : 200%         ;
	font-weigth     : bold         ;
	font-variant    : small-caps   ;
}

.erfindungHeader > div {
  width : 100px;
  height: auto;
	padding: 3px;
}

.erfindungHeader > div:nth-child(2) {
	width: auto;
}

.erfindungsBilder {c
	color: #08F;
	background-color: #def;
}

.erfindungsExponate {
	color: #0F8;
	background-color: #dfe;
}

.small_image {
	width: 144px;
}
