/**
 * phi@smoch.ch
 * 2019-05-23
 */

body {
	font-family: verdana, arial, sans;
}

#mainHeader, #mainFooter, #introSeite {
	padding         :    6px;
	background-color: #fff  ;
	color           : red   ;
	font-weight     : bold  ;
	font-size       : 220%  ;
	text-align      : center;
}

#mainHeader {
	display         : flex         ;
	flex-direction  : row          ;
	flex-wrap       : nowrap       ;
	justify-content : space-between;
}


#introSeite {
	font-size: 100%;
}

.mainTour {
	color: green;
	background-color: #efe;
	padding: 3px;
	margin: 1px;
}

.tourHeader {
	color           : red          ;
	background-color: #fff         ;
	display         : flex         ;
	flex-direction  : row          ;
	flex-wrap       : nowrap       ;
	justify-content : space-between;
	border          : red 1px solid;
	padding         : 4px          ;
	border-radius   : 4px          ;
}

.tourHeader > a {
	text-decoration: none      ;
	color          : red       ;
	font-variant   : small-caps;
	font-weight    : bold      ;
}

.tourHeader > a:hover {
	color           : white;
	background-color: red  ;
}

/* A link which is disabled, because
 * the user is already on thay page
 */
.unLink {
	color           : red   ;
	font-style      : italic;
	background-color: #fee  ;
}

.erfindung {
	color           : #400;
	background-color: #fff;
	margin-left     :  2px;
}

.erfindung h1 {
	font-style: italic;
	font-size : 112%  ;
	color     : black ;
}

.erfindungHeader {
	display         : flex         ; /* establish flex container */
	flex-direction  : row          ; /* default value; can be omitted */
	flex-wrap       : nowrap       ; /* default value; can be omitted */
	justify-content : space-between; /* switched from default (flex-start, see below) */
	background-color: lightyellow  ;

	color           : #c00         ;
	background-color: #fff         ;
	text-align      : center       ;
	font-size       : 200%         ;
	font-weigth     : bold         ;
	font-variant    : small-caps   ;
	padding-top     : 5px          ;
}

.erfindungHeader > div {
  width  : 100px;
  height : auto ;
	padding: 3px  ;
}

.erfindungHeader > div:nth-child(2) {
	width: auto;
}

.erfindungsBilder {c
	color           : #08F;
	background-color: #fff;
}

.erfindungsText {
	clear: both;
}

.erfindungsExponat {
	color           : #c00;
	background-color: #fee; 
}

tr.erfindungsExponatTitle > td {
	background-color: #eee;
	border: 2px #f008 solid;
}

tr.exponatTabelle > td {
	background-color: #fffc;
	vertical-align  : top  ;
}

.small_image {
	width: 144px;
}

div.small_image_rahmen {
	padding: 2px;
	margin : 1px;
	border : solid 1px #f004;
}

.normal_image {
	margin :   1px;
	padding:   5px;
	width  : 500px;
}

div.erfindungsBilder{
/*	clear     :   both; */
	text-align: center;
}

div.erfindungsBild {
	margin-top      : 4px            ;
	padding         : 5px            ;
	margin          : 5px            ; 
	margin-bottom   : 2px            ;
	border          : solid #630  2px;
	background-color: #210           ;
	color           : #b86           ;
	font-weight     : bold           ;
	font-size       : 120%           ;
}
