/**
 * phi@smoch.ch
 * 2019-05-23
 */

/* Variables
 * Thanks Nathan for the tip
 */
:root {
	--default-foreground     : #39a537;
	--default-background     : #efe   ;
	--middle-background      : #bfb   ;
	--default-textcolor      : #121   ;
	--exponat-background     : #120   ;
	--exponat-foreground-text: #8b6   ;
}



html {
	font-family: verdana, arial, sans;
	font-size  : 3.6mm;
}

@media screen and (min-width     :  60em ) {body{font-size:  90%;}}
@media screen and (min-resolution: 150dpi) {body{font-size: 220%;}}

#mainHeader, #mainFooter, #introSeite {
	padding         :    6px;
	background-color: var(--default-background)  ;
	color           : var(--default-foreground)   ;
	font-weight     : bold  ;
	font-size       : 220%  ;
	text-align      : center;
}

#mainHeader {
	display         : flex         ;
	flex-direction  : row          ;
	flex-wrap       : nowrap       ;
	justify-content : space-between;
}


#introSeite {
	font-size: 100%;
}

div.tourStartButton {
	margin: 32px;
}
a.tourStartButton {
	text-decoration:none;
	background-color: var(--middle-background);
	color: var(--default-foreground);
	font-size: 200%;
	padding: 15px;
	border-radius: 4px;
	border: 1px solid var(--default-foreground);
}

a {
	text-decoration: none;
	font-weight: normal;
	color: var(--default-foreground);
}
